
.button {
    -fx-transition: 500ms;
}

.blackstar {
    -fx-font-size: 40px;
    -fx-text-fill:  #446ADF;
    -fx-background-radius:10px;
    -fx-background-color:  #292B2F;
    -fx-padding: 0;
}

.whitestar {
    -fx-font-size: 40px;
    -fx-text-fill:  rgb(9, 49, 170);
    -fx-background-radius:10px;
    -fx-background-color:  rgb(133, 133, 133);
    -fx-padding: 0;
}

.tool_button {
    -fx-background-color:  #292B2F;
    -fx-font-family: Montserrat Regular;
}

.toggled_button{
    -fx-background-color:  rgb(211, 211, 211);
}
